
.flexBoxNav {
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: #172755;

}

.navbarBorder {
  border-bottom: 2vh solid #ef2a82;
}

.navContainer {
  max-width: 1180px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 10vh;  
  align-items: center;
  z-index: 4;
}

.navList {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.navLink {
  text-decoration: none;
  color: #8794ba;
  padding: 10px 15px;
  font-size: 16px;
 
}

.navLink:hover,
.navLink:active {
  cursor: pointer;
  color: #a8b2cc;
}

.buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 20px;
}
