.formStyled {
  max-width: 990px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.2;
  font-weight: lighter;
}

.formBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(253, 107, 33, 0.1);
  height: 270px;
  padding: 0 165px;
  gap: 20px;
  border-radius: 10px;
  position: relative;
  text-align: start;
}

.formBackground::after {
  content: '';
  background-image: url('/img/Subtract.png');
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 330%;
  z-index: -1;
}

.formTitle {
  font-size: 28px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.formText {
  font-family: 'Montserrat', sans-serif;
}

.formInput,
.formTextarea {
  width: 100%;
  height: 59px;
  background-color: #f2f2f2;
  border: #0a1e32 solid 1px;
  border-radius: 10px;
  padding: 15px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.formTextarea {
  height: 139px;
  padding: 25px 50px;
  resize: vertical;
}

.formInput::placeholder,
.formTextarea::placeholder {
  color: #000;
}

.formInput:hover,
.formTextarea:hover {
  border: #616161 solid 1px;
}

.formInput:hover::placeholder,
.formTextarea:hover::placeholder {
  color: #616161;
}

.formInput:active,
.formTextarea:active {
  border: #000000 solid 1px;
}

.errorInput {
  border: #d60b52 solid 1px;
}

.errorInput:focus {
  border: #d60b52 solid 1px;
}

.errorMsgContainer {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}

.errorMessage {
  width: 100%;
  color: #d60b52;
  font-weight: 800;
  opacity: 0;
  animation: fadeInOut 5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.formBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .formStyled {
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .formApplication {
    display: none;
  }
  .formBackground {
    min-height: 20vh;
    padding: 40px;
    gap: 10px;
  }
  .formBackground::after {
    display: none;
  }
  .formBtnContainer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .formBackground {
    padding: 75px 17px;
    height: 333px;
  }
  
}
