.signinPageContainer {
  padding: 70px 20px 0;
  display: flex;
  min-height: 78vh;
  overflow: hidden;
}

@media (max-width: 960px) {
    .signinPageContainer {
height: 90vh;
align-items: center;
      }
}
