.container {
  padding: 120px 0 0;
}

.partnersLogos {
  align-self: center;
}

.partnersLogos, .swiper-slide {
  background-color: #f8f9ff !important;
}

@media (max-width: 960px) {
  .container {
    padding: 60px 0 70px;
  }
}

@media (max-width: 480px) {
  .container {
    display: none;
  }
}
