.footer {
  background-color: rgb(23, 39, 85);
  color: #8794ba;
  font-size: 14px;
  font-style: normal;
  bottom: 0;
}

.footerNav {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.footerLogo {
height: 40px;
}

.footerList {
  list-style-type: none;
  display: flex;
  gap: 36px;
}

@media (max-width: 1300px) {
  .footer {
    padding: 0 20px;
   
  }



}

@media (max-width: 960px) {

  .footerList {
    display: none;
  }
  .footer {
    gap: 35px;
    width: 100%;

  }
}
