.pricesContainer {
  background: url('../img/background-bottom.png') no-repeat;
  background-size: cover;
  position: relative;
}

.flexBoxPrices {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  gap: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #8794ba;
}

.pricesTitle {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  padding-top: 260px;
}

.pricesText {
  padding: 0 120px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperComponent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33.3%;
  height: 440px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0f1f4b;
  color: #ffffff;
  border-radius: 38px;
  font-size: 30px;
  font-weight: 800;
}

.swiperComponent:hover {
  background-color: #ffffff;
  color: #0f1f4b;
}

.swiperComponent::after {
  content: '';
  width: 50%;
  height: 1px;
  background-color: #d3d9e9;
  top: 170px;
  position: absolute;
}

.buttonPrices {
  width: 206px;
  height: 50px;
  background-color: #0f1f4b;
  color: #fff;
  border-radius: 68px;
  border: none;
  font-size: 16px;
  border: 1px solid #2a407c;
  transition: background-color 0.3s;
}

.swiperComponent:hover .buttonPrices {
  background-color: #ef2a82;
  border: 1px solid rgba(42, 64, 124, 0.7);
}

.swiperComponent:active .buttonPrices {
  border: 1px solid #2a407c;
}

.pricesSwiper {
  position: relative;
  padding-bottom: 90px;
}

.pricesSwiper::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #8794ba;
}

.textPrices {
  color: #8794ba;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 1300px) {
  .pricesTitle {
    font-size: 30px;
    padding-left: 20px;
  }
  .swiper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pricesSwiper::after {
    background-color: #2a407c;
  }
}

@media (max-width: 960px) {
  .flexBoxPrices {
    align-items: flex-start;
    font-size: 18px;
    text-align: start;
  }
  .pricesText {
    padding: 0 20px;
  }
}
